<div class="info-container">
    <mat-card class="info-card">
        <mat-card-header>
            <mat-card-title>Add Installation</mat-card-title>
            <div class="edit-button-container">
                <button mat-mini-fab color="primary" [disabled]="name.invalid || price.invalid || inter1.invalid || inter2.invalid || performance1.invalid
                        || performance2.invalid || performance3.invalid" (click)="addInstalation()">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <!--   <mat-form-field class="register-full-width" appearance="fill">
    <mat-label>Balance</mat-label>
    <input type="number" matInput [formControl]="balance">
    <mat-error *ngIf="balance.hasError('pattern')|| balance.invalid">
      Invalid character!
    </mat-error>
    <mat-error *ngIf="balance.hasError('maxLength')|| balance.invalid">
      Too big value?
    </mat-error>
  </mat-form-field> -->
        <mat-divider class=" line"></mat-divider>
        <mat-card-content style="margin-top: 30px;">
            <div class="info-field2">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [formControl]="name">
                    <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors?.required">Please enter a name.</div>
                        <div *ngIf="name.errors?.maxlength">Name must be no more than 45 characters long.</div>
                      </mat-error>
                </mat-form-field>
            </div>
            <div class="info-field2">
                <mat-form-field class="example-full-width" >
                    <mat-label>Price (€)</mat-label>
                    <input matInput type="number" [formControl]="price">
                    <mat-error *ngIf="price.invalid && (price.dirty || price.touched)">
                        <div *ngIf="price.errors?.pattern">Please enter a valid integer for the price.</div>
                        <div *ngIf="price.errors?.required">Please enter a price.</div>
                        <div *ngIf="price.errors?.maxlength">Price must be no more than 50 characters long.</div>
                      </mat-error>
                </mat-form-field>
            </div>
            <div class="info-field2">
                <mat-form-field>
                    <mat-card-subtitle>Type</mat-card-subtitle>
                    <mat-select [(ngModel)]="selectedType" name="type">
                        <mat-option value="solar installation">solar installation</mat-option>
                        <mat-option value="air turbines">air turbines</mat-option>
                        <mat-option value="hydroelectric power plant">hydroelectric power plant</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-divider class="lineEdit"></mat-divider>
        </mat-card-content>

        <div class="infoEdit">
            <div class="info-field2" style="white-space: nowrap;">
                <mat-card-subtitle>Performance intervals</mat-card-subtitle>
                <table>
                    <tr>
                        <td>
                            <label style="margin: 0; padding: 0;">(0; </label>
                            <input #inputInterval matInput type="number" [value]="inter1.value"
                                (input)="inter1.setValue(inputInterval.value)" style="border: 1px solid #ccc;">
                            <label style="margin: 0; padding: 0;">)</label>
                        </td>
                        <td>
                            <label style="margin: 0; padding: 0;">[ </label>
                            <input #inputInterval2 matInput type="number" [value]="inter1.value"
                                (input)="inter1.setValue(inputInterval2.value)" style="border: 1px solid #ccc;">
                            <label style="margin: 0; padding: 0;">; </label>
                            <input #inputInterval3 matInput type="number" style="margin: 0; padding: 0;"
                                [value]="inter2.value" (input)="inter2.setValue(inputInterval3.value)"
                                style="border: 1px solid #ccc;">
                            <label style="margin: 0; padding: 0;">]</label>
                        </td>
                        <td>
                            <label style="margin: 0; padding: 0;">( </label>
                            <input #inputInterval4 matInput type="number" style="margin: 0; padding: 0;"
                                [value]="inter2.value" (input)="inter2.setValue(inputInterval4.value)"
                                style="border: 1px solid #ccc;">
                            <label style="margin: 0; padding: 0;">; </label>
                            <label style="margin: 0; padding: 0;"> ∞)</label>
                        </td>
                    </tr>
                    <mat-error *ngIf="inter1.hasError('maxLength')">You must enter at least 1 or at most 10
                        characters.
                    </mat-error>
                    <mat-error *ngIf="inter2.hasError('maxLength')">You must enter at least 1 or at most 10
                        characters.
                    </mat-error>
                </table>
            </div>
            <mat-divider class="lineEdit"></mat-divider>
        </div>
        <div class="infoEdit">
            <div class="info-field2">
                <mat-card-subtitle>Efficiency</mat-card-subtitle>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Efficiency ratio in  the first interval: </mat-label>
                        <input matInput type="number" [formControl]='performance1'>
                        <mat-error *ngIf="performance1.invalid">The entered value must be a positive number no longer than 10 characters!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Efficiency ratio in  the second interval: </mat-label>
                        <input matInput type="number" [formControl]='performance2'>
                        <mat-error *ngIf="performance2.invalid">The entered value must be a positive number no longer than 10 characters!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Efficiency ratio in  the third interval: </mat-label>
                        <input matInput type="number" [formControl]='performance3'>
                        <mat-error *ngIf="performance3.invalid">The entered value must be a positive number no longer than 10 characters!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card>
</div>