<div class="info-container" >
  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>Account Information</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 16px;">
      <div>
      <div class="info-field">
        <mat-card-subtitle>Username</mat-card-subtitle>
        <p>{{username}}</p>
      </div>
     <div class="info-field">
      <mat-card-subtitle>Email</mat-card-subtitle>
        <p>{{email}}</p>
     </div>
    </div> 
   <mat-divider></mat-divider>
    </mat-card-content>

    <div>
      <div class="info-field">
        <mat-card-subtitle>Name</mat-card-subtitle>
        <p>{{name}}</p>
      </div>
     <div class="info-field">
      <mat-card-subtitle>Balance</mat-card-subtitle>
        <p>{{balance}}</p>
     </div>
    </div>
  </mat-card>

  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="gotoMyTerrainsPage()">List of Terrains</button>
    <button mat-raised-button color="primary" (click)="openDialogChangePassword()">Change Password</button>
    <button mat-raised-button color="primary" (click)="openDialogChangeBalance()">Change Balance</button>
  </div>
</div>

    
