<div class="info-container" >
  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>Account Information</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 16px;">
      <div>
      <div class="info-field">
        <mat-card-subtitle>Username</mat-card-subtitle>
        <p>{{username}}</p>
      </div>
     <div class="info-field">
      <mat-card-subtitle>Email</mat-card-subtitle>
        <p>{{email}}</p>
     </div>
    </div> 
   <mat-divider></mat-divider>
    </mat-card-content>

    <div>
      <div class="info-field">
        <mat-card-subtitle>Name</mat-card-subtitle>
        <p>{{name}}</p>
      </div>
     <div class="info-field">
      <mat-card-subtitle>Balance</mat-card-subtitle>
        <p>{{balance}} €</p>
     </div>
    </div>
  </mat-card>

  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="openDialogChangePassword()">Change Password</button>
    <button mat-raised-button color="primary" (click)="openDialogChangeBalance()">Change Balance</button>
    <button mat-raised-button color="primary" (click)="deleteAccount()">Delete Account</button>
  </div>
</div>
<div class="container">
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
             My Terrain List
          </mat-panel-title>
      </mat-expansion-panel-header>
      <app-list-of-terrains [location]="'isMyAccount'"></app-list-of-terrains>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
          My Installation List
        </mat-panel-title>
    </mat-expansion-panel-header>
    <app-list-of-installations [location]="'isAccount'" [id]="id"></app-list-of-installations>
</mat-expansion-panel>
</mat-accordion>
</div>
    
