<div class="groups-chipls-list-container" *ngIf="currUserGroupsInfo.length>0">
  <div class="list-header-container">
    <h2 class="tag-header">
      Select groups to display:
    </h2>
  </div>
  <mat-chip-list class="group-chips-list">
    <mat-chip class="group-chip" (click)="selectGroup(group)" [ngClass]="{'selected-chip':selectedGroup(group)}" *ngFor="let group of currUserGroupsInfo">
      {{group.name}}
    </mat-chip>
  </mat-chip-list>
</div>
<div class="inline-container"  *ngIf="expensesDates.length>0">
  <div class="display-radio-container">
    <div class="radio-header">
      Display : 
    </div>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [formControl]="display">
      <mat-radio-button class="example-radio-button" [value]="'Types'" color="primary">
        Types
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" [value]="'Locations'" color="primary">
        Locations
      </mat-radio-button>
    </mat-radio-group>
  </div>
  
  <div class="calculate-radio-container" >
    <div class="radio-header">
      Calculate by : 
    </div>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [formControl]="calculate">
      <mat-radio-button class="example-radio-button" [value]="'Price'" color="primary">
        Price
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" [value]="'Amount'" color="primary">
        Amount
      </mat-radio-button>
    </mat-radio-group>
  </div>
  
  <mat-card class="calendar-width">
    <mat-date-range-input class="input-range" [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker [dateClass]="dateClass" #picker></mat-date-range-picker>
    <!-- <mat-calendar [dateClass]="dateClass" #picker></mat-calendar> -->
  </mat-card>
</div>

<div id="single-chart" [ngStyle]="{'display':filteredExpensesByDates.length>0?'block':'none'}">
</div>