<mat-toolbar class="sub-menu-bar">
  <div class="toolbar-content">
    <div class="start-container">
      <button mat-icon-button color="primary" (click)="toggle()" matTooltip="Select or create group.">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="group-name" *ngIf="this.groupService.selectedGroup">
        {{this.groupService.selectedGroup.name}}
      </div>
    </div>
    <div class="center-container"  *ngIf="this.groupService.selectedGroup">
      <button mat-icon-button color="primary" (click)="openGroupUserPanel()" matTooltip="Open user panel for this group."  class="sub-menu-btn" >
        <mat-icon >group</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Add expense in thes group." (click)="selectGroupSubmenu('add')"  class="sub-menu-btn" [ngClass]="{'selected':groupService.selectedSubmenu == 'add'?true:false}">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Show expenses calendar." (click)="selectGroupSubmenu('calendar')"  class="sub-menu-btn" [ngClass]="{'selected':groupService.selectedSubmenu == 'calendar'?true:false}">
        <mat-icon>calendar_month</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Show all expenses." (click)="selectGroupSubmenu('list')"  class="sub-menu-btn" [ngClass]="{'selected':groupService.selectedSubmenu == 'list'?true:false}">
        <mat-icon>view_list</mat-icon>
      </button>
    </div>
    <div class="center-container"  *ngIf="!this.groupService.selectedGroup">
      &#60;------------  Select a group
    </div>
    <div class="end-container"  *ngIf="this.groupService.selectedGroup">
    </div>
  </div>
</mat-toolbar>