<div class="groups-chipls-list-container" *ngIf="currUserGroupsInfo.length>0">
  <div class="list-header-container">
    <h2 class="tag-header">
      Select groups to display:
    </h2>
  </div>
  <mat-chip-list class="group-chips-list">
    <mat-chip class="group-chip" (click)="selectGroup(group)" [ngClass]="{'selected-chip':selectedGroup(group)}" *ngFor="let group of currUserGroupsInfo">
      {{group.name}}
    </mat-chip>
  </mat-chip-list>
</div>
<div class="tags-chipls-list-container" *ngIf="allTagsInData.length>0">
  <div class="list-header-container">
    <h2 class="tag-header">
      Deselect / select tags:
    </h2>
    <button mat-raised-button color="accent" (click)="selectAllTags()">Select All</button>
    <button mat-raised-button color="accent" (click)="deselectAllTags()">Deselect All</button>
    <button mat-raised-button color="accent" (click)="hideShowTagsList()">{{tagsListVisible?'Hide':'Show'}}</button>
  </div>

  <mat-chip-list class="tags-chips-list" [ngStyle]="{'display':tagsListVisible?'block':'none'}">
    <mat-chip class="tag-chip" (click)="selectTag(tag)" [ngClass]="{'selected-chip':selectedTag(tag)}" *ngFor="let tag of allTagsInData">
      {{tag}}
    </mat-chip>
  </mat-chip-list>
</div>
<div class="locations-chipls-list-container" *ngIf="AllLocations.length>0">
  <div class="list-header-container">
    <h2 class="locations-header">
      Deselect / select locations:
    </h2>
    <button mat-raised-button color="accent" (click)="selectAllLocations()">Select All</button>
    <button mat-raised-button color="accent" (click)="deselectAllLocations()">Deselect All</button>
    <button mat-raised-button color="accent" (click)="hideShowLocationsList()">{{locationsListVisible?'Hide':'Show'}}</button>
  </div>
  <mat-chip-list class="locations-chips-list" [ngStyle]="{'display':locationsListVisible?'block':'none'}">
    <mat-chip class="locations-chip" (click)="selectLocation(location)" [ngClass]="{'selected-chip':selectedLocation(location)}" *ngFor="let location of AllLocations">
      {{location}}
    </mat-chip>
  </mat-chip-list>
</div>
<mat-card class="calendar-width" *ngIf="expensesDates.length>0">
  <mat-date-range-input class="input-range" [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker [dateClass]="dateClass" #picker></mat-date-range-picker>
  <!-- <mat-calendar [dateClass]="dateClass" #picker></mat-calendar> -->
</mat-card>
<!-- 
  {
        group_name: group?.name!,
        group_id: group?.id!,
        expenses_count,
        money,
        money_persentage,
        expenses_count_persentage,
        tags_in_group,
        locations_in_group,
        min_date,
        max_date
      }
 -->
<div *ngIf="groupsTableData.length>0">
  <h2 class="data-stat">All expenses: {{allExpenses}}</h2>
  <h2 class="data-stat">All money spend: {{SumPrice | number:'0.1-3'}}</h2>
  <ng-container *ngFor="let group of groupsTableData">
    <div class="group-data">
        <div>Group name: {{group.group_name}}</div>
        <div>Expenses in Group: {{group.expenses_count}}</div>
        <div>Expenses pursentage: {{group.expenses_count_persentage  | number:'0.1-3'}}%</div>
        <div>Money spend: {{group.money  | number:'0.1-3'}}</div>
        <div>Money persentage: {{group.money_persentage  | number:'0.1-3' }}%</div>
        <!-- <span>{{group.tags_in_group | json}}</span>
        <span>{{group.locations_in_group | json}}</span> -->
        <!-- <div>{{group.min_date}}</div>
        <div>{{group.max_date}}</div> -->
    </div>
  </ng-container>
</div>
<div class="tables-container">
  <h3>Tags statistics</h3>
  <table #tagsSort="matSort" mat-table [dataSource]="tagsTableDataSource" matSort class="tags-table">

    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tag name">
        Tag
      </th>
      <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tag count">
        Count
      </th>
      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

    <ng-container matColumnDef="count_persentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by count persentage">
        Count Persentage
      </th>
      <td mat-cell *matCellDef="let element"> {{element.count_persentage | number:'0.1-3'}}% </td>
    </ng-container>

    <ng-container matColumnDef="money">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by money">
        Money
      </th>
      <td mat-cell *matCellDef="let element"> {{element.money | number:'0.1-3'}} </td>
    </ng-container>

    <ng-container matColumnDef="money_persentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by money persentage">
        Money Persentage
      </th>
      <td mat-cell *matCellDef="let element"> {{element.money_persentage | number:'0.1-3'}}% </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsTags"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTags;"></tr>
  </table>
  <h3>Locations statistics</h3>
  <table #locationsSort="matSort" mat-table [dataSource]="locationsTableDataSource" matSort class="locations-table">

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by location name">
        Location
      </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tag count">
        Count
      </th>
      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

    <ng-container matColumnDef="count_persentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by count persentage">
        Count Persentage 
      </th>
      <td mat-cell *matCellDef="let element"> {{element.count_persentage | number:'0.1-3'}}% </td>
    </ng-container>

    <ng-container matColumnDef="money">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by money">
        Money
      </th>
      <td mat-cell *matCellDef="let element"> {{element.money  | number:'0.1-3'}} </td>
    </ng-container>

    <ng-container matColumnDef="money_persentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by money persentage">
        Money Persentage
      </th>
      <td mat-cell *matCellDef="let element"> {{element.money_persentage  | number:'0.1-3'}}% </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsLocations"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsLocations;"></tr>
  </table>
</div>