<mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Enter the terrain information</ng-template>
            <div class="info-container">
                <mat-card class="info-card">
                    <mat-card-header>
                        <mat-card-title>Terrain information</mat-card-title>
                    </mat-card-header>
                    <mat-divider class=" line"></mat-divider>
                    <mat-card-content style="margin-top: 30px;">
                        <div class="info-field">
                            <mat-form-field class="example-full-width">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" formControlName="name" required>
                                <mat-error *ngIf="firstFormGroup.get('name')?.invalid && (firstFormGroup.get('name')?.dirty || firstFormGroup.get('name')?.touched)">
                                    <div *ngIf="firstFormGroup.get('name')?.errors?.required">Please enter a name.</div>
                                    <div *ngIf="firstFormGroup.get('name')?.errors?.maxLength">Name must be 45 characters or less.</div>
                                  </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="info-field">
                            <mat-form-field class="example-full-width">
                                <mat-label>Price (€)</mat-label>
                                <input matInput type="number" formControlName="price" required>
                                <mat-error *ngIf="firstFormGroup.get('price')?.invalid && (firstFormGroup.get('price')?.dirty || firstFormGroup.get('price')?.touched)">
                                    <div *ngIf="firstFormGroup.get('price')?.errors?.required">Please enter a price.</div>
                                    <div *ngIf="firstFormGroup.get('price')?.errors?.pattern">Price must be a valid number.</div>
                                    <div *ngIf="firstFormGroup.get('price')?.errors?.maxLength">Price must be 50 characters or less.</div>
                                  </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="info-field ">
                            <mat-card-subtitle>Type</mat-card-subtitle>
                            <mat-form-field>
                                <mat-select formControlName="selectedType" required>
                                    <mat-option value="private">private</mat-option>
                                    <mat-option value="editable">editable</mat-option>
                                    <mat-option value="uneditable">uneditable</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="info-field">
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Enter terrain data</ng-template>
            <div class="info-container">
                <mat-card class="info-card2">
                    <mat-card-header>
                        <mat-card-title>Terrain Data</mat-card-title>
                    </mat-card-header>
                    <mat-divider class=" line"></mat-divider>
                    <mat-card-content style="margin-top: 16px;">
                        <div class="info-field2">
                            <div class="info-field">
                               
                                <mat-form-field class="example-full-width">
                                    <mat-label>Average annual temperature (°C)</mat-label>
                                    <input matInput type="text" [formControl]="temp">
                                    <mat-error *ngIf="temp.invalid && (temp.dirty || temp.touched)">
                                        <div *ngIf="temp.errors?.required">Please enter a temperature.</div>
                                        <div *ngIf="temp.errors?.maxLength">Temperature must be 10 characters or less.</div>
                                        <div *ngIf="temp.errors?.pattern">Temperature must be a valid number.</div>
                                      </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="info-field">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Average annual solar radiation (W/m2)</mat-label>
                                    <input matInput type="text" [formControl]="rad">
                                    <mat-error *ngIf="rad.invalid && (rad.dirty || rad.touched)">
                                        <div *ngIf="rad.errors?.required">Please enter a value for solar radiation.</div>
                                        <div *ngIf="rad.errors?.maxLength">Solar radiation must be 10 characters or less.</div>
                                        <div *ngIf="rad.errors?.pattern">Solar radiation must be a valid number.</div>
                                      </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="info-field">                               
                                <mat-form-field class="example-full-width">
                                    <mat-label>Average annual wind speed (m/s)</mat-label>
                                    <input matInput type="text" [formControl]="wind">
                                    <mat-error *ngIf="wind.invalid && (wind.dirty || wind.touched)">
                                        <div *ngIf="wind.errors?.required">Please enter a value for wind speed.</div>
                                        <div *ngIf="wind.errors?.maxLength">Wind speed must be 10 characters or less.</div>
                                        <div *ngIf="wind.errors?.pattern">Wind speed must be a valid number.</div>
                                      </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="info-field">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Average annual flow rate (m3/s)</mat-label>
                                    <input matInput type="text" [formControl]="water">
                                    <mat-error *ngIf="water.invalid && (water.dirty || water.touched)">
                                        <div *ngIf="water.errors?.required">Please enter a value for water level.</div>
                                        <div *ngIf="water.errors?.maxLength">Water level must be 10 characters or less.</div>
                                        <div *ngIf="water.errors?.pattern">Water level must be a valid number.</div>
                                      </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="info-field">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Year</mat-label>
                                    <input matInput type="text" [formControl]="year">
                                    <mat-error *ngIf="year.invalid && (year.dirty || year.touched)">
                                        <div *ngIf="year.errors?.required">Please enter a year.</div>
                                        <div *ngIf="year.errors?.maxLength">Year must be 10 characters or less.</div>
                                        <div *ngIf="year.errors?.pattern">Year must be a valid number.</div>
                                      </mat-error>
                                      <mat-error *ngIf="duplicate">
                                        Data already entered for this year!
                                      </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="info-field">
                                <button mat-raised-button color="primary" (click)="addData()" [disabled]="temp.invalid || wind.invalid || water.invalid || year.invalid">Add Data</button>
                            </div>
                        </div>
                        <div class="info-field2">
                            <app-list-of-terrain-data #dataTable [mode]="'add'" [(terrainData)]="terrainData"
                                [inEdit]="true">
                            </app-list-of-terrain-data>
                            <div class="info-field" style="margin-top: 30px;">
                                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                                <button mat-raised-button color="primary" matStepperNext>Next</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Completion</ng-template>
        <div class="info-container">
            <mat-card class="info-card3">
                <mat-card-content style="margin-top: 16px;">
                    <p>Are you sure you want to finish adding the terrain!</p>
                    <div class="info-field">
                        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" (click)="complete()">Complete</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-step>
</mat-stepper>