<div class="groups-chipls-list-container" *ngIf="currUserGroupsInfo.length>0">
  <div class="chart-1-groups">
    <div class="list-header-container">
      <h2 class="tag-header">
        Select groups to chart 1:
      </h2>
    </div>
    <mat-chip-list class="group-chips-list">
      <mat-chip class="group-chip" (click)="selectChart1Group(group)" [ngClass]="{'selected-chip':selectedChart1Group(group)}" *ngFor="let group of currUserGroupsInfo">
        {{group.name}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="chart-2-groups">
    <div class="list-header-container">
      <h2 class="tag-header">
        Select groups to chart 2:
      </h2>
    </div>
    <mat-chip-list class="group-chips-list">
      <mat-chip class="group-chip" (click)="selectChart2Group(group)" [ngClass]="{'selected-chip':selectedChart2Group(group)}" *ngFor="let group of currUserGroupsInfo">
        {{group.name}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<div class="tags-chipls-lists-container">
  <div class="tags-chipls-list-container-chart1" *ngIf="allTagsInDataChart1.length>0">
    <div class="list-header-container">

      <h2 class="tag-header">
        Deselect / select tags chart 1:
      </h2>
      <button mat-raised-button color="accent" (click)="selectAllTagsChart1()">Select All</button>
      <button mat-raised-button color="accent" (click)="deselectAllTagsChart1()">Deselect All</button>
      <button mat-raised-button color="accent" (click)="hideShowTagsListChart1()">{{tagsListVisibleChart1?'Hide':'Show'}}</button>
    </div>

    <mat-chip-list class="tags-chips-list" [ngStyle]="{'display':tagsListVisibleChart1?'block':'none'}">
      <mat-chip class="tag-chip" (click)="selectTagChart1(tag)" [ngClass]="{'selected-chip':selectedTagChart1(tag)}" *ngFor="let tag of allTagsInDataChart1">
        {{tag}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="tags-chipls-list-container-chart2" *ngIf="allTagsInDataChart2.length>0">
    <div class="list-header-container">
      <h2 class="tag-header">
        Deselect / select tags chart 2:
      </h2>
      <button mat-raised-button color="accent" (click)="selectAllTagsChart2()">Select All</button>
      <button mat-raised-button color="accent" (click)="deselectAllTagsChart2()">Deselect All</button>
      <button mat-raised-button color="accent" (click)="hideShowTagsListChart2()">{{tagsListVisibleChart2?'Hide':'Show'}}</button>
    </div>

    <mat-chip-list class="tags-chips-list" [ngStyle]="{'display':tagsListVisibleChart2?'block':'none'}">
      <mat-chip class="tag-chip" (click)="selectTagChart2(tag)" [ngClass]="{'selected-chip':selectedTagChart2(tag)}" *ngFor="let tag of allTagsInDataChart2">
        {{tag}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<div  class="locations-chipls-lists-container">
  <div class="locations-chipls-list-container-chart1" *ngIf="AllLocationsChart1.length>0">
    <div class="list-header-container">
      <h2 class="locations-header">
        Deselect / select locations chart 1:
      </h2>
      <button mat-raised-button color="accent" (click)="selectAllLocationsChart1()">Select All</button>
      <button mat-raised-button color="accent" (click)="deselectAllLocationsChart1()">Deselect All</button>
      <button mat-raised-button color="accent" (click)="hideShowLocationsListChart1()">{{locationsListVisibleChart1?'Hide':'Show'}}</button>
    </div>
    <mat-chip-list class="locations-chips-list" [ngStyle]="{'display':locationsListVisibleChart1?'block':'none'}">
      <mat-chip class="locations-chip" (click)="selectLocationChart1(location)" [ngClass]="{'selected-chip':selectedLocationChart1(location)}" *ngFor="let location of AllLocationsChart1">
        {{location}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="locations-chipls-list-container-chart2" *ngIf="AllLocationsChart2.length>0">
    <div class="list-header-container">
      <h2 class="locations-header">
        Deselect / select locations chart 2:
      </h2>
      <button mat-raised-button color="accent" (click)="selectAllLocationsChart2()">Select All</button>
      <button mat-raised-button color="accent" (click)="deselectAllLocationsChart2()">Deselect All</button>
      <button mat-raised-button color="accent" (click)="hideShowLocationsListChart2()">{{locationsListVisibleChart2?'Hide':'Show'}}</button>
    </div>
    <mat-chip-list class="locations-chips-list" [ngStyle]="{'display':locationsListVisibleChart2?'block':'none'}">
      <mat-chip class="locations-chip" (click)="selectLocationChart2(location)" [ngClass]="{'selected-chip':selectedLocationChart2(location)}" *ngFor="let location of AllLocationsChart2">
        {{location}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<div class="dates-container">
  <div class="calendar-container-chart1">
    <mat-card class="calendar-width" *ngIf="expensesDatesChart1.length>0">
      <mat-date-range-input class="input-range" [formGroup]="rangeChart1" [rangePicker]="picker1">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-date-range-picker [dateClass]="dateClassChart1" #picker1></mat-date-range-picker>
      <!-- <mat-calendar [dateClass]="dateClass" #picker></mat-calendar> -->
    </mat-card>
  </div>
  <div class="calendar-container-chart2">
    <mat-card class="calendar-width" *ngIf="expensesDatesChart2.length>0">
      <mat-date-range-input class="input-range" [formGroup]="rangeChart2" [rangePicker]="picker2">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-date-range-picker [dateClass]="dateClassChart2" #picker2></mat-date-range-picker>
      <!-- <mat-calendar [dateClass]="dateClass" #picker></mat-calendar> -->
    </mat-card>
  </div>
</div>
<div class="charts-container">
  <div id="chart1" [ngStyle]="{'display':filteredExpensesByDatesChart1.length>0?'block':'none'}">
  </div>
  <div id="chart2" [ngStyle]="{'display':filteredExpensesByDatesChart2.length>0?'block':'none'}">
  </div>
</div>