<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="create-spinner" ></mat-spinner>
</div>
<form class="create-group-form">
    <h1 class="heading">Add user.</h1>
    <mat-form-field class="create-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" matInput [formControl]="usernameControl" 
             placeholder="Username...">
      <mat-error *ngIf="(usernameControl.hasError('minlength')||usernameControl.hasError('maxlength')) && !usernameControl.hasError('required')">
        Username should be no less than 4 and no more than 20 symbols long!
      </mat-error>
      <mat-error *ngIf="usernameControl.hasError('required')">
        Username is <strong>required</strong>!
      </mat-error>
      <mat-error *ngIf="usernameControl.hasError('onlyWordChars')&&!(usernameControl.hasError('newLineAndSpace')||usernameControl.hasError('letterControl')||usernameControl.hasError('minlength')||usernameControl.hasError('maxlength'))">
        {{usernameControl.errors!.onlyWordChars}}
      </mat-error>
      <mat-error *ngIf="usernameControl.hasError('letterControl')&&!(usernameControl.hasError('onlyWordChars')||usernameControl.hasError('newLineAndSpace')||usernameControl.hasError('minlength')||usernameControl.hasError('maxlength'))">
        {{usernameControl.errors!.letterControl}}
      </mat-error>
    </mat-form-field>
    <div class="back-end-err" *ngIf="benderr">{{benderr}}</div>
    <div class="btns-container">
        <button mat-raised-button  color="accent" (click)="addUser()" [disabled]="usernameControl.invalid">Add</button>
        <button mat-raised-button class="margin-left" color="accent" (click)="closeDialog()">Cancel</button>
    </div>
</form>