.statistics-container {
    height: calc(100% - 128px);
    overflow: auto;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
}

@media all and (max-width: 540px) {
    .statistics-container {
        height: calc(100% - 128px);
        overflow: auto;
        padding-right: 4px;
        padding-left: 4px;
        margin-right: auto;
        margin-left: auto;
    }
}
