<app-sub-menubar-stats></app-sub-menubar-stats>
<div class="statistics-container ">
    <ng-container *ngIf="chartService.subMenuState == 'single'">
        <app-single-chart></app-single-chart>
    </ng-container>
    <ng-container *ngIf="chartService.subMenuState == 'compare'">
        <app-compare-charts></app-compare-charts>
    </ng-container>
    <ng-container *ngIf="chartService.subMenuState == 'doughnut'">
        <app-doughnut></app-doughnut>
    </ng-container>
    <ng-container *ngIf="chartService.subMenuState == 'calculate'">
        <app-calculations></app-calculations>
    </ng-container>
</div>