<mat-card>
  <mat-card-header>
    <mat-card-title>InformationPage</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>The Green Sources web application aims to provide its users with an easy and convenient way to share data on terrains for the construction of renewable energy plants and renewable energy installations. As well as integrated mathematical algorithms for offering land for the construction of renewable energy plants depending on the budget you have and the approach you choose.</p>
    <div style="display: flex; justify-content: center;">
      <img src="/assets/info.png" width="50%" height="50%" style="display: block;">
    </div>
  </mat-card-content>
</mat-card>
