<h1 mat-dialog-title>Change password </h1>
<div mat-dialog-content>
    <mat-form-field class="register-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordControl" placeholder="Password...">
        <mat-error
          *ngIf="(passwordControl.hasError('minlength')||passwordControl.hasError('maxlength')) && !passwordControl.hasError('required')">
          Your password should be no less than 4 and no more than 20 symbols long!
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="passwordControl.hasError('onlyWordChars')&&!(passwordControl.hasError('minlength')||passwordControl.hasError('maxlength')||!passmatch)">
          {{passwordControl.errors!.onlyWordChars}}
        </mat-error>
        <mat-error *ngIf="!passmatch">
          Passwords should match!
        </mat-error>
      </mat-form-field>
     

</div>
<div mat-dialog-actions>
    <mat-form-field class="register-full-width" appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input type="password" matInput [formControl]="passwordRepeatControl" placeholder="Password...">
        <mat-error
          *ngIf="(passwordRepeatControl.hasError('minlength')||passwordRepeatControl.hasError('maxlength')) && !passwordRepeatControl.hasError('required')">
          Your password should be no less than 4 and no more than 20 symbols long!
        </mat-error>
        <mat-error *ngIf="passwordRepeatControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="passwordRepeatControl.hasError('onlyWordChars')&&!(passwordRepeatControl.hasError('minlength')||passwordRepeatControl.hasError('maxlength')||!passmatch)">
          {{passwordRepeatControl.errors!.onlyWordChars}}
        </mat-error>
        <mat-error *ngIf="!passmatch">
          Passwords should match!
        </mat-error>
      </mat-form-field>
  </div>  
<div mat-dialog-actions>
  <button mat-raised-button class="button" color="primary" (click)="setBalance()" [disabled]="
  !passmatch||
  passwordRepeatControl.invalid||
  passwordControl.invalid
  ">Change Password</button>
</div>  