<table class="expenses-table" mat-table [dataSource]="dataSource!" matSort (matSortChange)="announceSortChange($event)">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let expense"> {{expense.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="product_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let expense"> {{expense.product_name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="place">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
    <td mat-cell *matCellDef="let expense"> {{expense.place}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let expense"> {{expense.price}} </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef> Tags </th>
    <td mat-cell *matCellDef="let expense"> {{expense.tags}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let expense"> {{expense.date | date}} </td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let expense"> 
      <button mat-icon-button (click)="deleteExpense(expense)" matTooltip="Delete this expense."  color="warn" [disabled]="!currUserIsAdmin"><mat-icon>delete</mat-icon></button>
      <button mat-icon-button (click)="editExpense(expense)" matTooltip="Edit expense."  color="accent"><mat-icon>edit</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>