<h1 mat-dialog-title>Change Balance</h1>
<div mat-dialog-content>
  <mat-form-field class="register-full-width" appearance="fill">
    <mat-label>Balance</mat-label>
    <input type="number" matInput [formControl]="balance">
    <mat-error *ngIf="balance.invalid && (balance.dirty || balance.touched)">
      <div *ngIf="balance.errors?.pattern">Please enter a valid integer for the balance.</div>
      <div *ngIf="balance.errors?.required">Please enter a balance.</div>
      <div *ngIf="balance.errors?.maxlength">Balance must be no more than 8 characters long.</div>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="button" color="primary" (click)="setBalance()" [disabled]="balance.invalid">Change Balance</button>
</div>
