<div *ngIf="!inEdit">
    <div class="info-container">
        <mat-card class="info-card">
            <mat-card-header>
                <mat-card-title>Installation Information</mat-card-title>
                <div *ngIf="isCreator" class="edit-button-container">
                    <button mat-mini-fab color="primary" (click)="goToEditMode()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="isCreator" mat-mini-fab color="primary" style="margin-left: 5px;"
                        (click)="deleteInstallation()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-header>

            <mat-divider class="line"></mat-divider>
            <mat-card-content style="margin-top: 16px;">
                <div>
                    <div class="info-field">
                        <mat-card-subtitle>Name</mat-card-subtitle>
                        <p>{{installation.name}}</p>
                    </div>
                    <div class="info-field">
                        <mat-card-subtitle>Price</mat-card-subtitle>
                        <p>{{installation.price}} €</p>
                    </div>
                    <div class="info-field">
                        <mat-card-subtitle>Creator</mat-card-subtitle>
                        <p class="clickable" (click)="sharedService.SharedLogicService?.goToAccount(creator)">
                            {{creator.username}}</p>
                    </div>
                    <div class="info-field">
                        <mat-card-subtitle>Type</mat-card-subtitle>
                        <p class="clickable" (click)="sharedService.SharedLogicService?.goToAccount(creator)">
                            {{installation.type}}</p>
                    </div>
                </div>
                <mat-divider class="line"></mat-divider>
            </mat-card-content>
            <div>
                <div class="info-field2">
                    <mat-card-subtitle>Efficiency</mat-card-subtitle>
                    <p>{{perform_factors[0]}}</p>
                    <p>{{perform_factors[1]}}</p>
                    <p>{{perform_factors[2]}}</p>
                </div>
            </div>
        </mat-card>
    </div>


</div>
<div [ngStyle]="{'display':inEdit?'block':'none'}">
    <div class="info-container">
        <mat-card class="info-card2">
            <mat-card-header>
                <mat-card-title>Installation Edit</mat-card-title>
                <div class="edit-button-container">
                    <button *ngIf="isCreator" mat-mini-fab color="primary" (click)="saveChanges()" [disabled]="name.invalid || price.invalid || inter1.invalid || inter2.invalid || performance1.invalid
                        || performance2.invalid || performance3.invalid">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </mat-card-header>

            <mat-divider class=" line"></mat-divider>
            <mat-card-content style="margin-top: 16px;">
                <div>
                    <div class="info-field3">
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" [formControl]="name">
                            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                <div *ngIf="name.errors?.required">Please enter a name.</div>
                                <div *ngIf="name.errors?.maxlength">Name must be no more than 45 characters long.</div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="info-field3">
                        <mat-form-field class="example-full-width">
                            <mat-label>Price (€)</mat-label>
                            <input matInput type="number" [formControl]="price">
                            <mat-error *ngIf="price.invalid && (price.dirty || price.touched)">
                                <div *ngIf="price.errors?.pattern">Please enter a valid integer for the price.</div>
                                <div *ngIf="price.errors?.required">Please enter a price.</div>
                                <div *ngIf="price.errors?.maxlength">Price must be no more than 8 characters long.
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider class="lineEdit"></mat-divider>
            </mat-card-content>

            <div class="infoEdit">
                <div class="info-field2" style="white-space: nowrap;">
                    <mat-card-subtitle>Intervals</mat-card-subtitle>
                    <table>
                        <tr>
                            <td>
                                <label style="margin: 0; padding: 0;">(0; </label>
                                <input #inputInterval matInput type="number" [value]="inter1.value"
                                    (input)="inter1.setValue(inputInterval.value)" style="border: 1px solid #ccc;">
                                <label style="margin: 0; padding: 0;">)</label>
                            </td>
                            <td>
                                <label style="margin: 0; padding: 0;">[ </label>
                                <input #inputInterval2 matInput type="number" [value]="inter1.value"
                                    (input)="inter1.setValue(inputInterval2.value)" style="border: 1px solid #ccc;">
                                <label style="margin: 0; padding: 0;">; </label>
                                <input #inputInterval3 matInput type="number" style="margin: 0; padding: 0;"
                                    [value]="inter2.value" (input)="inter2.setValue(inputInterval3.value)"
                                    style="border: 1px solid #ccc;">
                                <label style="margin: 0; padding: 0;">]</label>
                            </td>
                            <td>
                                <label style="margin: 0; padding: 0;">( </label>
                                <input #inputInterval4 matInput type="number" style="margin: 0; padding: 0;"
                                    [value]="inter2.value" (input)="inter2.setValue(inputInterval4.value)"
                                    style="border: 1px solid #ccc;">
                                <label style="margin: 0; padding: 0;">; </label>
                                <label style="margin: 0; padding: 0;"> ∞)</label>
                            </td>
                        </tr>
                        <mat-error *ngIf="inter1.invalid"> You must enter at least 1 or at most 10
                            characters.
                        </mat-error>
                        <mat-error *ngIf="inter2.invalid">You must enter at least 1 or at most 10
                            characters.
                        </mat-error>
                    </table>
                </div>
                <mat-divider class="lineEdit"></mat-divider>
            </div>
            <div class="infoEdit">
                <div class="info-field2">
                    <mat-card-subtitle>Efficiency</mat-card-subtitle>
                    <div>
                        <mat-form-field>
                            <mat-label>Efficiency ratio in the first interval: </mat-label>
                            <input class="info-field4" matInput type="number" [formControl]='performance1'>
                        </mat-form-field>
                    </div>
                    <mat-error *ngIf="performance1.hasError('maxlength')">The entered value must be a positive number no
                        longer than 10 characters!
                    </mat-error>
                    <div>
                        <mat-form-field>
                            <mat-label>Efficiency ratio in the second interval: </mat-label>
                            <input class="info-field4" matInput type="number" [formControl]='performance2'>
                        </mat-form-field>
                    </div>
                    <mat-error *ngIf="performance2.hasError('maxlength')">The entered value must be a positive number no
                        longer than 10 characters!
                    </mat-error>
                    <div>

                        <mat-form-field>
                            <mat-label>Efficiency ratio in the third interval: </mat-label>
                            <input class="info-field4" matInput type="number" [formControl]='performance3'>
                        </mat-form-field>
                    </div>
                    <mat-error *ngIf="performance3.hasError('maxlength')">The entered value must be a positive number no
                        longer than 10 characters!
                    </mat-error>
                </div>
                <mat-divider class="lineEdit"></mat-divider>

            </div>
        </mat-card>
    </div>
</div>