<div class="info-container" >
    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>Account Information</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content style="margin-top: 16px;">
        <div>
        <div class="info-field">
          <mat-card-subtitle>Username</mat-card-subtitle>
          <p>{{user?.username}}</p>
        </div>
       <div class="info-field">
        <mat-card-subtitle>Email</mat-card-subtitle>
          <p>{{user?.email}}</p>
       </div>
       <div class="info-field">
        <mat-card-subtitle>Name</mat-card-subtitle>
        <p>{{user?.name}}</p>
      </div>
      </div> 
      </mat-card-content>
    </mat-card>
   </div>
   <div class="container">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Terrain List
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-list-of-terrains [location]="'isAccount'" [id]="user?.id"></app-list-of-terrains>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
              Installation List
          </mat-panel-title>
      </mat-expansion-panel-header>
      <app-list-of-installations [location]="'isAccount'" [id]="user?.id"></app-list-of-installations>
  </mat-expansion-panel>
  </mat-accordion>
</div>