<mat-toolbar class="sub-menubar-stats">
    <div class="buttons-container">
        <button mat-icon-button (click)="singleChart()" matTooltip="Single chart." class="sub-menu-btn" color="primary" [ngClass]="{'selected':chartService.subMenuState == 'single'?true:false}">
            <mat-icon>show_chart</mat-icon>
        </button>
        <button mat-icon-button (click)="compareCharts()"  matTooltip="Compare two charts." class="sub-menu-btn" color="primary" [ngClass]="{'selected':chartService.subMenuState == 'compare'?true:false}">
            <mat-icon>stacked_line_chart</mat-icon>
        </button>
        <button mat-icon-button (click)="doughnut()" matTooltip="Doughnut chart." class="sub-menu-btn" color="primary" [ngClass]="{'selected':chartService.subMenuState == 'doughnut'?true:false}">
            <mat-icon>data_usage</mat-icon>
        </button>
        <button mat-icon-button (click)="mathCalculations()" matTooltip="See calculations." class="sub-menu-btn" color="primary" [ngClass]="{'selected':chartService.subMenuState == 'calculate'?true:false}">
            <mat-icon>calculate</mat-icon>
        </button>
    </div>
</mat-toolbar>