<div *ngIf="!inEdit">
    <div class="info-container">
        <mat-card class="info-card">
            <mat-card-header>
                <mat-card-title>Terrain Information</mat-card-title>
                <div *ngIf="isEditable" class="edit-button-container">
                    <button mat-mini-fab color="primary" (click)="goToEditMode()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </mat-card-header>

            <mat-divider class="line"></mat-divider>
            <mat-card-content style="margin-top: 16px;">
                <div>
                    <div class="info-field">
                        <mat-card-subtitle>Name</mat-card-subtitle>
                        <p>{{terrain.name}}</p>
                    </div>
                    <div class="info-field">
                        <mat-card-subtitle>Price</mat-card-subtitle>
                        <p>{{terrain.price}}</p>
                    </div>
                    <div class="info-field">
                        <mat-card-subtitle  class="info-vote">Votes</mat-card-subtitle>
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>thumb_up</mat-icon>
                          </button> 
                          <label>1</label>
                          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                          <label>1</label>    
                    </div>               
                </div>
                <mat-divider class="line"></mat-divider>
            </mat-card-content>
            <div>
                <div class="info-field">
                    <mat-card-subtitle>Creator</mat-card-subtitle>
                    <p>{{creator.name}}</p>
                </div>
                <div class="info-field">
                    <mat-card-subtitle>Last Editor</mat-card-subtitle>
                    <p>{{editor.name}}</p>
                </div>
                <div class="info-field">
                    <mat-card-subtitle>Last change</mat-card-subtitle>
                    <p>{{terrain.last_change_time}}</p>
                </div>
            </div>
        </mat-card>
    </div>
  
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Terrain Data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Terrain Data 1</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Comments
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="comment-field">
                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Comment..."></textarea>
                  </mat-form-field>
                </div>
                <div class="comment-field">
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary" >
                        <mat-icon >comment</mat-icon>
                      </button>
                </div>
            <app-comment *ngFor="let comment of comments" [data]="comment" >             
            </app-comment>
        </mat-expansion-panel>

    </mat-accordion>

</div>


<div *ngIf="inEdit">
  
    <div class="info-container">
        <mat-card class="info-card">
            <mat-card-header>
                <mat-card-title>Terrain Edit</mat-card-title>
                <div *ngIf="isEditable" class="edit-button-container">
                    <button mat-mini-fab color="primary" (click)="saveChanges()">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </mat-card-header>

            <mat-divider class="line"></mat-divider>
            <mat-card-content style="margin-top: 16px;">
                <div>
                    <div class="info-field">
                        <mat-card-subtitle>Name</mat-card-subtitle>
                        <input matInput  [formControl]="name">
                    </div>
                    <div class="info-field">
                        <mat-card-subtitle>Price</mat-card-subtitle>
                        <input matInput type="text" [formControl]="price">

                    </div>

                </div>
               
                  
                <mat-divider class="lineEdit"></mat-divider>
            </mat-card-content>
            <div class="infoEdit">
                <div class="info-field">
                    <mat-card-subtitle>Creator</mat-card-subtitle>
                    <p>{{creator.name}}</p>
                </div>
                <div class="info-field">
                    <mat-card-subtitle>Last Editor</mat-card-subtitle>
                    <p>{{editor.name}}</p>
                </div>
                <div class="info-field">
                    <mat-card-subtitle>Last change</mat-card-subtitle>
                    <p>{{terrain.last_change_time}}</p>
                </div>
            </div>
        </mat-card>
    </div>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Terrain Data
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Terrain Data 1</p>
        </mat-expansion-panel>

    </mat-accordion>
</div>