<div *ngIf="!inEdit">
    <div class="info-container">
        <mat-card class="info-card">
            <mat-card-header>
                <mat-card-title>Terrain Information</mat-card-title>
                <div *ngIf="isEditable" class="edit-button-container">
                    <button mat-mini-fab color="primary" (click)="goToEditMode()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="isCreator" mat-mini-fab color="primary" style="margin-left: 5px;" (click)="deleteTerrain()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-header>

            <mat-divider class="line"></mat-divider>
            <mat-card-content style="margin-top: 16px;">
                <div>
                    <div class="info-field">
                        <mat-card-subtitle>Name</mat-card-subtitle>
                        <p>{{terrain.name}}</p>
                    </div>
                    <div class="info-field">
                        <mat-card-subtitle>Price</mat-card-subtitle>
                        <p>{{terrain.price}} €</p>
                    </div>
                    <div class="info-field">
                        <mat-card-subtitle class="info-vote">Votes</mat-card-subtitle>
                        <button (click)=" myVoteType== 1? myVoteType = -1: myVoteType=1;  setMyVote();"
                            style="margin-right: 20px;"
                            [ngStyle]="{'backgroundColor':myVoteType== 1?'#009688':'', 'color': myVoteType === 1 ? '#FFFFFF' : ''}"
                            mat-icon-button aria-label="Example icon button with a vertical three dot icon">

                            <mat-icon>thumb_up</mat-icon>
                        </button>
                        <label style="margin-right: 20px;" *ngIf="votes">{{votes.upvote}}</label>
                        <button (click)="myVoteType== 0? myVoteType = -1 : myVoteType=0; setMyVote();"
                            style="margin-right: 20px;"
                            [ngStyle]="{'backgroundColor':myVoteType== 0?'#009688':'', 'color': myVoteType === 0 ? '#FFFFFF' : ''}"
                            mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>thumb_down</mat-icon>
                        </button>
                        <label style="margin-right: 20px;" *ngIf="votes">{{votes.downvote}}</label>
                    </div>
                </div>
                <mat-divider class="line"></mat-divider>
            </mat-card-content>
            <div>
                <div class="info-field">
                    <mat-card-subtitle>Creator</mat-card-subtitle>
                    <p class="clickable" (click)="sharedService.SharedLogicService?.goToAccount(creator)">
                        {{creator.username}}</p>
                </div>
                <div class="info-field">
                    <mat-card-subtitle>Last Editor</mat-card-subtitle>
                    <p class="clickable"
                        (click)="editor.name !=''? sharedService.SharedLogicService?.goToAccount(editor):''">
                        {{editor.username}}</p>
                </div>
                <div class="info-field">
                    <mat-card-subtitle>Last change</mat-card-subtitle>
                    <p>{{terrain.last_change_time}}</p>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="container">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Terrain Data
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-list-of-terrain-data [data]="terrain.id"></app-list-of-terrain-data>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Comments
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="comment-field">
                    <mat-form-field class="example-full-width">
                        <mat-label>Leave a comment</mat-label>
                        <textarea matInput placeholder="Comment..." [formControl]="content"></textarea>
                        <mat-error *ngIf="content.hasError('required')">Content is required</mat-error>
                        <mat-error *ngIf="content.hasError('maxlength')">Content must be less than or equal to 250 characters</mat-error>
                      
                    </mat-form-field>
                </div>
                <div class="comment-field">
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                        color="primary" (click)="setMyComment()" [disabled]="content.invalid">
                        <mat-icon>comment</mat-icon>
                    </button>
                </div>
                <app-comment *ngFor="let comment of comments" [data]="comment" [fillList]="myCallbackFunctionFillList"
                    [terrain_id]="terrain.id"></app-comment>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>


<div *ngIf="inEdit">

    <div class="info-container">
        <mat-card class="info-card">
            <mat-card-header>
                <mat-card-title>Terrain Edit</mat-card-title>
                <div class="edit-button-container">
                    <button mat-mini-fab color="primary" (click)="saveChanges()"
                        [disabled]="name.invalid|| price.invalid">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </mat-card-header>

            <mat-divider class=" line"></mat-divider>
            <mat-card-content style="margin-top: 16px;">
                <div>
                    <div class="info-field">
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" [formControl]="name">
                            <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
                            <mat-error *ngIf="name.hasError('maxlength')">Name must be less than or equal to 45 characters</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="info-field">
                        <mat-form-field class="example-full-width">
                            <mat-label>Price (€)</mat-label>
                            <input matInput type="number" [formControl]="price">
                            <mat-error *ngIf="price.hasError('required')">Price is required</mat-error>
                            <mat-error *ngIf="price.hasError('pattern')">Price must be a valid number</mat-error>
                            <mat-error *ngIf="price.hasError('maxlength')">Price must be less than or equal to 8 characters</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="isCreator" class="info-field ">
                        <mat-card-subtitle>Type</mat-card-subtitle>
                        <mat-form-field>
                            <mat-select [(ngModel)]="selecteType">
                                <mat-option value="private">private</mat-option>
                                <mat-option value="editable">editable</mat-option>
                                <mat-option value="uneditable">uneditable</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider class="lineEdit"></mat-divider>
            </mat-card-content>
            <div class="infoEdit">
                <div class="info-field">
                    <mat-card-subtitle>Creator</mat-card-subtitle>
                    <p>{{creator.name}}</p>
                </div>
                <div class="info-field">
                    <mat-card-subtitle>Last Editor</mat-card-subtitle>
                    <p>{{editor.name}}</p>
                </div>
                <div class="info-field">
                    <mat-card-subtitle>Last change</mat-card-subtitle>
                    <p>{{terrain.last_change_time}}</p>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="container">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Terrain Data
                    </mat-panel-title>
                    <mat-panel-description>
                        Click on the data you want to edit!
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-list-of-terrain-data [data]="terrain.id" [inEdit]="inEdit"  [isCreator]="isCreator"></app-list-of-terrain-data>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>