<form class="register-form">
    <h1 class="heading">Login to your profile.</h1>
    <mat-form-field class="register-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="text" matInput [formControl]="emailControl" 
             placeholder="Email...">
      <mat-error *ngIf="(emailControl.hasError('minlength')||emailControl.hasError('maxlength')) && !emailControl.hasError('required')">
        Your email should be no less than 4 and no more than 20 symbols long!
      </mat-error>
      <mat-error *ngIf="emailControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="register-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordControl" 
               placeholder="Password...">
        <mat-error *ngIf="(passwordControl.hasError('minlength')||passwordControl.hasError('maxlength')) && !passwordControl.hasError('required')">
            Your password should be no less than 4 and no more than 20 symbols long!
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('onlyWordChars')&&!(passwordControl.hasError('minlength')||passwordControl.hasError('maxlength'))">
          {{passwordControl.errors!.onlyWordChars}}
        </mat-error>
      </mat-form-field>
      
      <button class="register-btn" mat-raised-button color="primary" (click)="login()" [disabled]="
      emailControl.invalid||
      passwordControl.invalid
      ">Login</button>
      <p *ngIf="loginServerError" class="server-error">{{loginServerError}}</p>
      <p *ngIf="loginServerRegistrationMessage" class="server-success">{{loginServerRegistrationMessage}}</p>

      <div >
        <img src="/assets/login 2.png"  width=100% height=100%>
      </div>
  </form>

